body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 20px;
}

.header-links {
    display: flex;
    align-items: flex-end;
    padding: 8px;
    gap: 32px;
    color: gray;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 50px;

}

.main-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: gray;
    width: 400px;
    padding-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}

.placeholder {
    background-color: grey;
    color: lightgray;
    outline: grey;
    min-width: 425px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
}