html, body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.top {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 20px;
}

.header-links {
    display: flex;
    align-items: flex-end;
    padding: 8px;
    gap: 32px;
    color: gray;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 50px;

}

.main-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: gray;
    width: 400px;
    padding-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.placeholder {
    background-color: grey;
    color: lightgray;
    outline: grey;
    min-width: 425px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
}

.info {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header2 {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.midsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #3882f6;
    color: white;
    width: 135px;
    height: 135px;
    border-radius: 5px;
}

.texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.text {
    display: flex;
    width: 140px;
    margin-bottom: 100px;
    text-align: center;
}

.quotes {
    display: flex;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.name {

}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 10
    px;
}